ul li{
 list-style-type: none;
}
.red {
 color: red;
 font-size: 14px;
}

.navbar navbar-default navbar-fixed-top{
 position: absolute;
}

.opacity {
 opacity: 0.7;
}

#billTitle {
 background-image: url("/static/bills/images/people-coffee-tea-meeting.jpg");
 background-repeat: no-repeat;
 background-size: 100% 100%;
 text-align: center;
}

.welcome {
 margin-top: 15%;
 color: #ffb566;
 font-size: 9vw;
 font-family: Copperplate, sans-serif;
 text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.welcome-message {
 margin-bottom: 7%;
 padding-top: 10%;
 padding-bottom: 5%;
 color: white;
 font-size: 3vw;
 font-family: "Rockwell Bold", monospace;
 text-shadow: 1px 1px 1px rgba(255,255,255,0.4), -1px -1px 1px rgba(0,0,0,0.4);
}

#billAboutUs {
 text-align: center;
 height: 700px;
 background: rgb(254,249,242);
 background: -moz-linear-gradient(top,  rgba(254,249,242,1) 0%, rgba(234,231,222,1) 100%);
 background: -webkit-linear-gradient(top,  rgba(254,249,242,1) 0%,rgba(234,231,222,1) 100%);
 background: linear-gradient(to bottom,  rgba(254,249,242,1) 0%,rgba(234,231,222,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9f2', endColorstr='#eae7de',GradientType=0 );
}

.about {
 margin-top: 5%;
 font-size: 5vw;
 font-family: Copperplate, sans-serif;
}

#billService{
 text-align: center;
 height: 700px;
}

.service {
 margin-top: 5%;
 font-size: 5vw;
 font-family: Copperplate, sans-serif;
 color: #ffb566;
}

.logo {
 color: #ffb566;
 font-size: 80px;
}

#billContact {
 text-align: center;
 height: 700px;
 background: rgb(254,249,242);
 background: -moz-linear-gradient(top,  rgba(254,249,242,1) 0%, rgba(234,231,222,1) 100%);
 background: -webkit-linear-gradient(top,  rgba(254,249,242,1) 0%,rgba(234,231,222,1) 100%);
 background: linear-gradient(to bottom,  rgba(254,249,242,1) 0%,rgba(234,231,222,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9f2', endColorstr='#eae7de',GradientType=0 );
}

.contact {
 margin-top: 5%;
 font-size: 5vw;
 font-family: Copperplate, sans-serif;
}

#contactInfo {
 font-size: 1.5vw;
}

.logo-small {
 font-size: 20px;
}

#myBills {
 height: auto;
 background: rgb(254,249,242);
 background: -moz-linear-gradient(top,  rgba(254,249,242,1) 0%, rgba(234,231,222,1) 100%);
 background: -webkit-linear-gradient(top,  rgba(254,249,242,1) 0%,rgba(234,231,222,1) 100%);
 background: linear-gradient(to bottom,  rgba(254,249,242,1) 0%,rgba(234,231,222,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9f2', endColorstr='#eae7de',GradientType=0 );
}

#front_page {
 background-image: url("/static/bills/images/front_page.jpeg");
 background-repeat: no-repeat;
 background-size: 100% 100%;
 height: 70vh;
 color: white;
}

.grey .active a,
.grey .active a:hover {
   background-color: grey !important;
}

#error:first-child{
 color:red;
}

.modal-title {
 font-size: 2.3vw;
 color: white;
}

.bill_form {
 color: white;
 list-style: none;
 font-size: 1.3vw;
}

.tab {
 color: grey;
}

#advanced_search{
  color: #3399FF;
  cursor: pointer;
}

#advanced_search:hover{
  text-decoration: underline;
}
